<%= form_with model: project do |form| %>
  <div>
    <%= form.label :name, class: 'text-bold' %>
    <%= form.text_field :name %>
  </div>

  <div>
    <%= form.label :start_date, class: 'text-bold' %>
    <%= form.date_field :start_date %>
  </div>

  <div>
    <%= form.label :end_date, class: 'text-bold' %>
    <%= form.date_field :end_date %>
  </div>

  <div>
    <%= form.label :file, 'Choose a file to upload: ', class: 'text-gray-700 font-bold' %>
    <%= form.file_field :file, class: 'border rounded-lg py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline' %>
  </div>

  <%= form.submit %>
<% end %>