<div class="flex justify-between mb-5">
  <%= link_to projects_path, class: 'underline inline-flex items-center text-sm md:text-md leading-4 font-bold rounded-lg text-blue-600 hover:text-blue-400' do %>
    <span class="mr-2">
      <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
        <path stroke-linecap="round" stroke-linejoin="round" d="M9 15L3 9m0 0l6-6M3 9h12a6 6 0 010 12h-3" />
      </svg>
    </span>
    Go back
  <% end %>

  <%= link_to new_project_task_path((@project.id)), class: 'inline-flex items-center pl-1.5 pr-3 md:pl-2 md:pr-4 py-1.5 border border-transparent text-sm md:text-md leading-4 font-bold rounded-lg text-gray-900 bg-blue-300 hover:bg-blue-400 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-turquoise-500' do %>
    <span>
      <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5 mr-2" fill="none" viewBox="0 0 24 24" stroke="currentColor">
        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 9v3m0 0v3m0-3h3m-3 0H9m12 0a9 9 0 11-18 0 9 9 0 0118 0z"/>
      </svg>
    </span>
    Add task
  <% end %>
</div>

<div class="border-b border-gray-300 pt-5">
  <h1 class="text-2xl md:text-3xl font-bold text-gray-800 pb-3">
    <%= @project.name %>
  </h1>
</div>

<div class="mt-5">
  <% if @tasks.count > 0 %>
    <div class="flex flex-col mt-3"></div>
    <h2 class="font-bold text-xl">My tasks</h2>

    <% @tasks.each do |task| %>
      <ol>
        <li>
          <%= link_to project_task_path(task.project_id, task.id), class: 'underline' do %>
            <%= task.name %>
          <% end %>
        </li>
      </ol>
    <% end %>
    
  <% else %>
    <p>There is no tasks associate with this project</p>
  <% end %>
</div>