<div class="flex justify-between mb-5">
  <%= link_to projects_path, class: 'underline inline-flex items-center text-sm md:text-md leading-4 font-bold rounded-lg text-blue-600 hover:text-blue-400' do %>
    <span class="mr-2">
      <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
        <path stroke-linecap="round" stroke-linejoin="round" d="M9 15L3 9m0 0l6-6M3 9h12a6 6 0 010 12h-3" />
      </svg>
    </span>
    Go back
  <% end %>

  <%= link_to new_project_task_path((@project.id)), class: 'inline-flex items-center pl-1.5 pr-3 md:pl-2 md:pr-4 py-1.5 border border-transparent text-sm md:text-md leading-4 font-bold rounded-lg text-gray-900 bg-blue-300 hover:bg-blue-400 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-turquoise-500' do %>
    <span>
      <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5 mr-2" fill="none" viewBox="0 0 24 24" stroke="currentColor">
        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 9v3m0 0v3m0-3h3m-3 0H9m12 0a9 9 0 11-18 0 9 9 0 0118 0z"/>
      </svg>
    </span>
    Add task
  <% end %>
</div>

<div class="border-b border-gray-300 pt-5">
  <h1 class="text-2xl md:text-3xl font-bold text-gray-800 pb-3">
    <%= @project.name %>
  </h1>
</div>

<div class="mt-5">
  <% if @tasks.count > 0 %>
    <div class="flex flex-col mt-3"></div>
    <h2 class="font-bold text-xl">My tasks</h2>

    <div class="px-10 py-10">
      <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-4 gap-x-6 gap-y-10">    
        <% @tasks.each do |task| %>
          <%= link_to project_task_path(task.project_id, task.id), class: 'block max-w-sm p-6 bg-white border border-gray-200 rounded-lg shadow hover:bg-gray-200' do %>
            <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900"><%= task.name %></h5>
            <p class="font-normal text-gray-700 dark:text-gray-400"><%= task.description %></p>

            <div class="inline-flex items-center py-2 text-sm font-medium text-center rounded-lg">
              <% if task.completed %>
                  <span class="bg-green-100 text-green-800 text-sm font-medium mr-2 px-2.5 py-0.5 rounded dark:bg-green-900 dark:text-green-300">Completed</span>
              <% else %>
                  <span class="bg-blue-100 text-blue-800 text-sm font-medium mr-2 px-2.5 py-0.5 rounded dark:bg-blue-900 dark:text-blue-300">Incompleted</span>
              <% end %>
              <%# <span class="bg-gray-100 text-gray-800 text-sm font-medium mr-2 px-2.5 py-0.5 rounded dark:bg-gray-700 dark:text-gray-300">Dark</span> %>
            </div>
          <% end %>
        <% end %>
      </div>
    </div>

    
  <% else %>
    <p>There is no tasks associate with this project</p>
  <% end %>
</div>

